<div class="animate__animated animate__fadeInUp">
  <app-titulo
  [titulo]="'Fornecedores'"
  [iconClass]="'fa fa-users'"
  [botao]="true"
  [message]="'Novo'"
  [novaRota]="'/cadastrarFornecedor'">
</app-titulo>
</div>

<div class="card rounded shadow-sm p-3 animate__animated animate__fadeInUp table-responsive">

  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro: </div>
        </div>
        <input
        type="text"
        class="form-control"
        placeholder="Filtrar por Nome, Cpf/Cnpj e Data de Cadastro"
        [(ngModel)]="filtroLista"
        >
      </div>
    </div>
    </div>
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
      <th>Excluir</th>
      <th>#</th>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Empresa</th>
      <th>Cnpj</th>
      <th>Data de Cadastro</th>
      <th>Telefone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody *ngIf="fornecedores && fornecedores.length">
    <tr *ngFor="let fornecedor of fornecedoresFiltrados" (click)="detalheFornecedor(fornecedor.id)">
      <td>
        <button type="button" class="btn btn-danger btn-lg" tooltip="Excluir" (click)="openModal($event, template, fornecedor.id)">
          <i class="fa fa-eraser"></i>
        </button>
      </td>
      <td>{{fornecedor.id}}</td>
      <td>{{fornecedor.nome}}</td>
      <td>{{fornecedor.cpf | cpf}}</td>
      <td>{{fornecedor.empresa.nome}}</td>
      <td>{{fornecedor.empresa.cnpj| cnpj}}</td>
      <td>{{fornecedor.dataCadastro | date: 'yyyy-MM-dd'}}</td>
      <td>{{fornecedor.telefone.numeroTelefone | telefone}}</td>
      <td>{{fornecedor.email}}</td>
    </tr>
  </tbody>
  <tfoot *ngIf="!fornecedores.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum fornecedor encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

</div>


<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar o Fornecedor de Código? {{this.fornecedorId}}</p>
    <button type="button" class="btn btn-danger" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>
